###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Procedurally Generated Landscapes/Assets/Textures/Terrain/Runway/rock_ground_02_albedo_4k.png
Procedurally Generated Landscapes/Assets/Textures/Terrain/Runway/rock_ground_02_ao_4k.png
Procedurally Generated Landscapes/Assets/Textures/Terrain/Runway/rock_ground_02_diff_4k.png
Procedurally Generated Landscapes/Assets/Textures/Terrain/Runway/rock_ground_02_disp_4k.png
Procedurally Generated Landscapes/Assets/Textures/Terrain/Runway/rock_ground_02_nor_4k.png
Procedurally Generated Landscapes/Assets/Textures/Terrain/Runway/rock_ground_02_rough_4k.png
Procedurally Generated Landscapes/Assets/Textures/Terrain/Runway/rock_ground_02_rough_ao_4k.png
